aniso8601==2.0.0
asn1crypto==0.23.0
attrs==17.4.0
autobahn==17.10.1
Automat==0.6.0
binance==0.1
bintrees==2.0.7
bokeh==0.12.13
certifi==2017.11.5
cffi==1.11.2
chardet==3.0.4
click==6.7
conda==4.3.31
constantly==15.1.0
cryptography==2.1.4
Flask==0.12.2
Flask-Cors==3.0.3
Flask-Jsonpify==1.5.0
Flask-RESTful==0.3.6
gdax==1.0.6
hyperlink==17.3.1
idna==2.6
incremental==17.5.0
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
np==1.0.2
numpy==1.14.0
pandas==0.22.0
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycosat==0.6.3
pycparser==2.18
pyOpenSSL==17.5.0
PySocks==1.6.7
python-binance==0.5.17
python-dateutil==2.6.1
pytz==2017.3
PyYAML==3.12
requests==2.13.0
ruamel-yaml==0.11.14
service-identity==17.0.0
six==1.10.0
tornado==4.5.3
Twisted==17.9.0
txaio==2.8.2
urllib3==1.22
websocket-client==0.40.0
Werkzeug==0.14.1
zope.interface==4.4.3
